body {
    background: linear-gradient(60deg, #29323c 0%, #485563 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    padding:20px;
    text-align:center;
    font-size:50px;
    color:#d4a373;
    text-shadow: black 1px 1px 2px;
}
p {
    color:#fefae0;
    font-size:50px;
    text-shadow:black 2px 1px 2px;
}
h2 {
    text-align: center;
    font-size:50px;
    color:#d4a373;
}
#info {
    display:flex;
}
#AboutMe {
    float:left;
    width:48%;
    padding-left:15px;
}
#Experience {
    float:right;
    width:50%;
    padding-left:20px;
}
#Goals {
    text-align:center;
}
button {
    width:200px;
    height:200px;
    font-size: 50px;
    cursor:pointer;
    border-radius:5em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
    text-align: center;
    background-color:antiquewhite;
}
button:hover {
    box-shadow: rgba(0, 0, 0, 0.50) 20px 10px 10px;
}
.buttondiv {
    text-align: center;
}
#Exlist {
    color:#fefae0;
    font-size:50px;
    text-shadow:black 2px 1px 2px;
   
}
.gameslist {
    text-align: center;
}